body {
  background-image: linear-gradient(to right, rgb(60, 182, 210), rgb(0, 159, 98), pink);
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 420px;
  background-color: rgb(0, 0, 0, 0.07);
  color: white;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 1px;
}

#amount {
  margin: auto;
  margin-top: 25px;
  width: 150px;
}

.form-control {
  margin: auto;
  margin-top: 10px;
  width: 60px;
}

.btn-success {
  margin: auto;
  margin-top: 20px;
  width: 100px;
}

